:root {
  --background-primary-color: #111111; 
  --text-color: #fcfcfc;
  --link-hover-color: #ee608a;
  --underline-color: #b8496a;
}
  
* {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}
  
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.foodpath-logo a {
  text-decoration: none;
  color: inherit;
}
  
.foodpath-logo h1 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--text-color);
  font-family: "Itim", cursive;
  cursor: pointer;
  transition: color 0.3s ease;
}
  
.foodpath-logo h1:hover,
.foodpath-logo a:hover {
  color: var(--link-hover-color);
}
  
.app-navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
  
.app-navbar ul li {
  padding: 10px;
}
  
.app-navbar ul li a {
  color: var(--text-color);
  font-size: 1.4rem;
  font-family: "Itim", cursive;
  text-decoration: none;
  transition: color 0.3s ease;
}

.app-navbar ul li a:hover {
  color: var(--link-hover-color);
}
  
.underline {
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #f761ac;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
      left: 0;
      right: auto;
      width: 100%;
  }
}

footer {
  background-color: var(--background-primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px 0;
  height: auto;
  width: 100%;
}


.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-header {
  margin-bottom: 20px;
}

.footer-header h1 {
  font-size: 2rem;
  margin: 10px 0;
  color: var(--link-color);
}

.footer-header p {
  font-size: 1.4rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--link-color);
}

.footer-section p {
  font-size: 16px;
  color: var(--link-color);
}

.footer-section a {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: var(--link-hover-color);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
    
  .footer-section {
    padding: 10px 0;
  }
}

@media(max-width: 768px) {
  .app-navbar ul {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .app-header {
    flex-direction: column;
    align-items: flex-start;
  }
}